<div class="modal-header">
    <h4 class="modal-title">Create Folder <span *ngIf="parentFolder">({{parentFolder.name}})</span></h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
        &times;
    </button>
</div>
<div class="modal-body">
    <input type="text" 
           [(ngModel)]="folderName" 
           placeholder="Enter folder name" 
           class="form-control" 
           [class.is-invalid]="folderNameInvalid" />  

     <div *ngIf="folderNameInvalid" class="invalid-feedback">
        Folder name is required.
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="createFolder()">Create</button>
</div>
