 
    <div class="container">
      <div class="form-container">
        <h1 class="title">GCA ADMIN REGISTER</h1>

        <form *ngIf="!activeAccount" [formGroup]="form" (ngSubmit)="onSubmit()">
          
          <div class="input-group">
            <label>Prénom</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Le prénom est requis</div>
            </div>
          </div>
  
          <div class="input-group">
            <label>Nom</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
              <div *ngIf="f['lastName'].errors['required']">Le nom est requis</div>
              <div *ngIf="f['lastName'].errors['minlength']">Le nom doit comporter au moins 6 caractères</div>
              <div *ngIf="f['lastName'].errors['maxlength']">Le nom ne doit pas dépasser 20 caractères</div>
            </div>
          </div>
  
          <div class="input-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">L'email est requis</div>
              <div *ngIf="f['email'].errors['email']">L'email est invalide</div>
            </div>
          </div>
  
          <div class="input-group">
            <label>Mot de passe</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Le mot de passe est requis</div>
              <div *ngIf="f['password'].errors['minlength']">Le mot de passe doit comporter au moins 6 caractères</div>
              <div *ngIf="f['password'].errors['maxlength']">Le mot de passe ne doit pas dépasser 40 caractères</div>
            </div>
          </div>
  
          <div class="input-group">
            <label>Confirmer le mot de passe</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['confirmPassword'].errors['required']">La confirmation du mot de passe est requise</div>
              <div *ngIf="f['confirmPassword'].errors['matching']">La confirmation du mot de passe ne correspond pas</div>
            </div>
          </div>
  
          <div class="input-group">
            <label>Téléphone</label>
            <input type="text" formControlName="telephone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['telephone'].errors }" />
            <div *ngIf="submitted && f['telephone'].errors" class="invalid-feedback">
              <div *ngIf="f['telephone'].errors['required']">Le téléphone est requis</div>
            </div>
          </div>
  
          <div class="input-group">
            <label>Date de naissance</label>
            <input type="date" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors }" />
            <div *ngIf="submitted && f['dateOfBirth'].errors" class="invalid-feedback">
              <div *ngIf="f['dateOfBirth'].errors['required']">La date de naissance est requise</div>
            </div>
          </div>
  
          <div class="input-group">
            <label>CIN</label>
            <input type="text" formControlName="cin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['cin'].errors }" />
            <div *ngIf="submitted && f['cin'].errors" class="invalid-feedback">
              <div *ngIf="f['cin'].errors['required']">Le CIN est requis</div>
            </div>
          </div>
 <div class="input-group">
  <label for="photo">Télécharger une photo</label>
  <input type="file" id="photo" (change)="onFileChange($event)" class="form-control" />
  <div *ngIf="submitted && photoError" class="invalid-feedback">
    <div>La photo est requise</div>
  </div>
</div>

          <div class="input-group">
            <label>Adresse</label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />
            <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
              <div *ngIf="f['address'].errors['required']">L'adresse est requise</div>
            </div>
          </div>
  
          <div class="input-group">
            <button type="submit" class="sign-in">S'inscrire</button>
          </div>
  
          <div class="line mt-5 mb-5"></div>
  
          <p class="sign-up">Vous avez déjà un compte ?
            <a routerLink='/authAdmin/adminstratorLogin'>Se connecter</a>
          </p>
        </form>
  
        <form *ngIf="activeAccount" [formGroup]="activeForm" (ngSubmit)="active()">
          <div class="input-group">
            <label>Le numéro reçu par email</label>
            <input type="text" formControlName="activeNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && fa['activeNumber'].errors }" />
            <div *ngIf="submitted && fa['activeNumber'].errors" class="invalid-feedback">
              <div *ngIf="fa['activeNumber'].errors['required']">Le numéro est requis</div>
            </div>
          </div>
  
          <div class="input-group">
            <button type="submit" class="sign-in">Activer</button>
          </div>
        </form>
      </div>
    </div>
 