<div class="main flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white/90 backdrop-blur-md shadow-lg rounded-lg p-8 w-full max-w-md mx-4">
      <div class="text-center mb-8">
        <img
          src="/logo.png"
          alt="reservMatch"
          class="mx-auto w-40"
        />
      </div>

      <h1 class="text-2xl font-semibold text-black mb-6">Votre compte est activé !</h1>

      <p class="text-gray-700 mb-4">
        Félicitations ! Votre compte a déjà été activé avec succès. Vous pouvez maintenant accéder à l'application
        et commencer à utiliser toutes les fonctionnalités.
      </p>

      <!-- <a
         class="inline-block w-full py-3 px-5 text-center text-white font-semibold bg-[#c58f14] rounded hover:bg-black hover:text-white transition-all"
      >
        Accéder à l'application
      </a> -->

      <p class="text-gray-600 mt-6">
        Si vous rencontrez des problèmes avec votre compte, n'hésitez pas à nous contacter en répondant à cet e-mail.
      </p>

      <div class="text-gray-500 text-sm mt-8">
        <hr class="my-4 border-gray-300" />
        <p>
          Merci pour votre confiance ! Si vous avez des questions, nous sommes toujours disponibles pour vous
          aider.
        </p>
      </div>

      <div class="text-center mt-4">
        <p class="text-black">L'équipe <strong>RESERVEMATCH</strong></p>
      </div>
    </div>
</div>