<div class="card mb-3 shadow-sm">
  <div class="card-body">
    <h5 class="card-title text-secondary">{{ credit.client.username }} {{ credit.client.lastname }}</h5>

    <!-- Conditionally show the input or static honoraires value -->
    <div style="display: flex; gap: 20px; align-items: center;">
      <p class="card-text" *ngIf="!edit">Total Honoraires: <strong>{{ credit.totalCredit }} €</strong></p>
      <span *ngIf="!edit" (click)="editClient()" class="edit-icon">
        <i class="bi bi-pencil-fill"></i>
      </span>
    </div>

    <!-- Edit mode: Show input to modify honoraires -->
    <div *ngIf="edit" class="edit-mode">
      <label for="editHonoraires" class="mr-2">Nouveaux Honoraires:</label>
      <input type="number" [(ngModel)]="total" class="form-control d-inline-block mr-2" style="width: 150px;" />
      <button (click)="saveClient()" class="btn btn-secondary btn-sm ml-2">Enregistrer</button>
      <button (click)="cancelEdit()" class="btn btn-secondary btn-sm ml-2">Annuler</button>
    </div>

    <!-- Payment list -->
   <!-- Payment list -->
 <!-- Payment list -->
<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let payment of credit.payedCredit; let i = index">
    <ng-container *ngIf="!payment.editMode; else editMode">
      <span><i class="fas fa-coins"></i> Tranche: {{ payment.part }} €</span>
      <span><i class="fas fa-calendar-alt"></i> Payé le: {{ payment.date | date }}</span>
      <span><i class="fas fa-credit-card"></i> Méthode: {{ payment.method }}</span>
      <span><i class="fas fa-credit-card"></i> Nature: {{ payment.natureTranche }}</span>
      <div>
        <button (click)="editTranche(payment)" class="btn btn-secondary btn-sm mr-2">Éditer</button>
        <button (click)="generateFacture(credit._id,payment._id)" class="btn btn-secondary btn-sm"> Facture</button>
      </div>
    </ng-container>
    
    <ng-template #editMode>
      <div style="display: flex; align-items: center;">
        <input type="number" [(ngModel)]="payment.editCopy.part" class="form-control d-inline-block mr-2" style="width: 80px;" />
        <input type="date" [(ngModel)]="payment.editCopy.date" [value]="formatISODate(payment.editCopy.date)" class="form-control d-inline-block mr-2" />        <select [(ngModel)]="payment.editCopy.method" class="form-control d-inline-block mr-2">
          <option value="Carte de crédit">Carte de crédit</option>
          <option value="Virement bancaire">Virement bancaire</option>
          <option value="Espèces">Espèces</option>
          <option value="PayPal">PayPal</option>
        </select>
        <select [(ngModel)]="payment.editCopy.natureTranche" class="form-control d-inline-block mr-2">
          <option value="Avance">Avance</option>
          <option value="Règlement définitif">Règlement définitif</option>
          <option value="Frais">Frais</option>
        </select>
        <button (click)="saveTranche(payment ,credit._id)" class="btn btn-secondary btn-sm mr-2">Enregistrer</button>
        <button (click)="cancelEditTranche(payment)" class="btn btn-secondary btn-sm">Annuler</button>
      </div>
    </ng-template>
    
    
  </li>
</ul>


    <p class="card-text">Total Payé: <strong>{{ totalPayed(credit.payedCredit) }} €</strong></p>

    <!-- Form to add new tranche -->
    <form (ngSubmit)="addTranche()" class="form-inline">
      <div class="form-group mr-2">
        <label for="tranche" class="mr-2">Montant</label>
        <input type="number" class="form-control" [(ngModel)]="newTranche.tranche" name="tranche" placeholder="Montant en €" required />
      </div>
      <div class="form-group mr-2">
        <label for="date" class="mr-2">Date</label>
        <input type="date" class="form-control" [(ngModel)]="newTranche.date" name="date" required />
      </div>
      <div class="form-group mr-2">
        <label for="method" class="mr-2">Méthode</label>
        <select class="form-control" [(ngModel)]="newTranche.method" name="method" required>
          <option value="Carte de crédit">Carte de crédit</option>
          <option value="Virement bancaire">Virement bancaire</option>
          <option value="Espèces">Espèces</option>
          <option value="PayPal">PayPal</option>
        </select>
      </div>
      <div class="form-group">
        <label for="natureTranche">Nature de la Tranche</label>
        <select id="natureTranche" class="form-control" [(ngModel)]="newTranche.natureTranche"  name="natureTranche" >
            <option value="Avance">Avance</option>
            <option value="Règlement définitif">Règlement définitif</option>
            <option value="Frais">Frais</option>
        </select>
      </div>
      <button type="submit" class="btn btn-secondary">Ajouter Tranche</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="close()">Close</button>
    </form>
  </div>
</div>
